<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="../src/styles/icon.css">
    <link rel="stylesheet" href="../src/styles/common.css">
    <link rel="stylesheet" href="../src/styles/codemirror.css">
</head>
<body>
    <div id="app"></div>
    <script src="../src/scripts/moment.js"></script>
    <script src="../src/scripts/react.js"></script>
    <script src="../src/scripts/react-dom.js"></script>
    <script src="../src/scripts/prop-types.js"></script>
</body>
</html>